<html ng-app='classApp'>

<head>
  <title>WWU ClassFinder</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Lato:700,300' rel='stylesheet' type='text/css'>
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
  <script src="js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>

<body ng-controller="HomeCtrl">
  <div class="sidebar">
    <h1 class="sidebar__text">Subjects</h1>
    <select multiple="multiple" class="sidebar__subject subjectSelect"></select>
    <h1 class="sidebar__text">GUR/Course Attributes</h1>
    <select multiple="multiple" class="sidebar__subject gurSelect"></select>
    <h1 class="sidebar__text">Days</h1>
    <input class="sidebar__check" type="checkbox" id="Monday" ng-click="dayClicked('Monday')"><label for="Monday" class="sidebar__checklbl"><div class="sidebar__checkdiv">M</div></label>
    <input class="sidebar__check" type="checkbox" id="Tuesday" ng-click="dayClicked('Tuesday')"><label for="Tuesday" class="sidebar__checklbl"><div class="sidebar__checkdiv">T</div></label>
    <input class="sidebar__check" type="checkbox" id="Wednesday" ng-click="dayClicked('Wednesday')"><label for="Wednesday" class="sidebar__checklbl"><div class="sidebar__checkdiv">W</div></label>
    <input class="sidebar__check" type="checkbox" id="Thursday" ng-click="dayClicked('Thursday')"><label for="Thursday" class="sidebar__checklbl"><div class="sidebar__checkdiv">R</div></label>
    <input class="sidebar__check" type="checkbox" id="Friday" ng-click="dayClicked('Friday')"><label for="Friday" class="sidebar__checklbl"><div class="sidebar__checkdiv">F</div></label>
    <input class="sidebar__check" type="checkbox" id="Saturday" ng-click="dayClicked('Saturday')"><label for="Saturday" class="sidebar__checklbl"><div class="sidebar__checkdiv">S</div></label>
    <input class="sidebar__check" type="checkbox" id="Sunday" ng-click="dayClicked('Sunday')"><label for="Sunday" class="sidebar__checklbl"><div class="sidebar__checkdiv">U</div></label>
  </div>
  <div class="content">
    <div class="content__class">
      <div style="float:left; width: 40%;">
        <h1 class="content__text content__text--title">class.class - class.title</h1>
        <h2 class="content__text content__text--subtitle">GURS: class.gur</h2>
        <h2 ng-if="class.restrictions" class="content__text content__text--subtitle">Restrictions: {{class.restrictions}}</h2>
        <h2 ng-if="class.prerequisites" class="content__text content__text--subtitle">Prerequisites: {{class.prerequisites}}</h2>
      </div>
      <div style="float:left; display: flex; flex-direction: column;width: 60%;">
        <div class="content__right">
          <div style="width:60%;display: flex;
        justify-content: flex-start;">
            <p class="content__text">cap</p>
            <p class="content__text">enrol</p>
            <p class="content__text">avail</p>
          </div>
          <p style="width:40%;" class="content__text">{{class.inst}}</p>
        </div>
        <div style="font-size:90%;" class="content__right">
          <p style="width:60%;" class="content__text">{{class.time1}}</p>
          <p style="width:40%;" class="content__text">{{class.room1}}</p>
        </div>
        <div style="font-size:90%;" class="content__right">
          <p style="width:60%;" class="content__text">{{class.time2}}</p>
          <p style="width:40%;" class="content__text">{{class.room2}}</p>
        </div>
        <div style="font-size:80%;" class="content__right">
          <p class="content__text">{{class.crn}}</p>
          <p class="content__text">{{class.crenum}}</p>
          <p class="content__text">{{class.addl}}</p>
        </div>
      </div>
    </div>
    <div ng-repeat="(subject,classes) in data">
      <h1 ng-show="filter(classes[0])" style="margin-left:0.6em; font-size: 3.0em;">{{subject}}</h1>
      <div ng-show="filter(class)" ng-repeat="class in classes" class="content__class">
        <div style="float:left; width: 40%;">
          <h2 class="content__text content__text--title">{{class.class}} - {{class.title}}</h1>
          <h3 ng-if="class.gur" class="content__text content__text--subtitle">GURS: {{class.gur}}</h2>
          <h3 ng-if="class.restrictions" class="content__text content__text--subtitle">Restrictions: {{class.restrictions}}</h2>
          <h3 ng-if="class.prerequisites" class="content__text content__text--subtitle">Prerequisites: {{class.prerequisites}}</h2>
        </div>
        <div style="float:left; display: flex; flex-direction: column;width: 60%;">
          <div class="content__right">
            <div style="width:60%;display: flex;
          justify-content: flex-start;">
              <p class="content__text">{{class.cap}}</p>
              <p class="content__text">{{class.enrol}}</p>
              <p class="content__text">{{class.avail}}</p>
            </div>
            <p style="width:40%;" class="content__text">{{class.inst}}</p>
          </div>
          <div style="font-size:90%;" class="content__right">
            <p style="width:60%;" class="content__text">{{class.time1}}</p>
            <p style="width:40%;" class="content__text">{{class.room1}}</p>
          </div>
          <div style="font-size:90%;" class="content__right">
            <p style="width:60%;" class="content__text">{{class.time2}}</p>
            <p style="width:40%;" class="content__text">{{class.room2}}</p>
          </div>
          <div style="font-size:80%;" class="content__right">
            <p class="content__text">{{class.crn}}</p>
            <p class="content__text">{{class.crenum}}</p>
            <p class="content__text">{{class.addl}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
